main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#logout {
    position: fixed;
    right: 20px;
    top: 90px;
    cursor: pointer;
}

.todos {
    color: rgb(38, 38, 40); 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.todos p {
    padding-left: 2em;
}

.todo-form {
    margin: 10px;
    display: flex;
}

.todo-form * {
    font-size: 1.5rem;
}

.todos-main button {
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
}

.todo-form button {
    margin-left: 10px;
}

.todo {
    background-color:rgb(117, 156, 255);
    width: 80%;
    font-size: 2rem;
    margin: 10px;
}

.incomplete {
    cursor: pointer;
}

.complete {
    text-decoration: line-through;
    opacity: 30%;
}

.delete-button {
    background-color: rgb(255, 44, 86);
    border: none;
    cursor: pointer;
    margin: 20px;
    font-size: 1.3rem;
}

.auth-main {
    display: flex;
    flex-direction: row;
}

.auth-container {
    margin: 10px;
}

.auth-container form {
    display: flex;
    flex-direction: column;
}

.auth-container button {
    margin: 10px;
}